@import "./../../../assets/sass/abstracts/variables";

.container {
    padding: 2rem 3rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-gap: 3rem;
    justify-content: center;
}